*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    display:flex;
    background:#f4f7fb;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#0f172a;
    color:white;
}

.logo{
    padding:20px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    border-bottom:1px solid #334155;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px 20px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#1e293b;
}

.main{
    flex:1;
}

.topbar{
    background:white;
    padding:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

#content{
    padding:25px;
}
.gedung-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.gedung-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.gedung-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.gedung-info{
    padding:15px;
}
/* ==========================
   RUANG
========================== */

if(page === "ruang"){

    const ruang =
    await getData("getRuang");

    let html = `

    <h2>Data Ruang</h2>

    <br>

    <table>

        <thead>

            <tr>

                <th>ID Ruang</th>
                <th>Nama Ruang</th>
                <th>Gedung</th>
                <th>Jenis</th>
                <th>Penanggung Jawab</th>

            </tr>

        </thead>

        <tbody>

    `;

    ruang.forEach(item=>{

        html += `

        <tr>

            <td>${item.idRuang}</td>
            <td>${item.namaRuang}</td>
            <td>${item.gedung}</td>
            <td>${item.jenisRuang}</td>
            <td>${item.penanggungJawab}</td>

        </tr>

        `;

    });

    html += `
        </tbody>
    </table>
    `;

    content.innerHTML = html;

}
